---
import Form from "../components/Form.tsx";
---

<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wedding RSVP</title>
  </head>
  <body>
    <section class="min-h-screen grid place-items-center">
      <Form client:load />
    </section>
    <!-- <script is:inline src="/node_modules/preline/dist/preline.js"></script> -->
  </body>
</html>
