<div
class="bg-white rounded-lg w-full max-w-2xl overflow-hidden border-amber-200/50 border-2"
>
<img src="/rings.jpg" alt="" class="h-[200px] w-full object-cover" />
<div class="p-8">
  <h1
    class="text-6xl lg:text-7xl font-allura text-center flex flex-col font-black"
  >
    Sheldon <span class="text-[0.6em] font-thin">weds</span> Ishitta
  </h1>
  <div class="flex flex-col mt-4 border-t pt-4">
    <div class="text-center flex flex-col">
      <span class="font-bold">Date</span>
      <span>11 January 2025</span>
    </div>

    <div
      class="grid mt-4 gap-8 text-center lg:grid-cols-2 border-t pt-4 max-lg:divide-y lg:divide-x"
    >
      <div class="flex flex-col">
        <h2 class="text-4xl font-allura font-bold">Ceremony</h2>

        <div>
          <p class="font-bold mt-2">Time</p>
          <p>4PM</p>
        </div>

        <div>
          <p class="font-bold mt-2">Location</p>
          <p>St. Anne's Church, Pulgate, Pune Camp</p>
          <a
            href="https://maps.app.goo.gl/sSVGKCGdLVVb9QAa9"
            target="_blank"
            class="text-xs underline">View on Google Maps</a
          >
        </div>
      </div>

      <div class="flex flex-col max-lg:border-t max-lg:pt-4">
        <h2 class="text-4xl font-allura font-bold">Reception</h2>
        <div>
          <p class="font-bold mt-2">Time</p>
          <p>7PM onwards</p>
        </div>

        <div>
          <p class="font-bold mt-2">Location</p>
          <p>RSI Club, Pune Camp</p>
          <a
            href="https://maps.app.goo.gl/gSz4orXGt1LVisuH6"
            target="_blank"
            class="text-xs underline">View on Google Maps</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
</div>